# Node.js modules
node_modules/

# Logs
npm-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/

# Dependency directories
jspm_packages/
bower_components/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Miscellaneous
*.log
*.tmp
